@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

body {
	font-family: 'Viaoda Libre', cursive;
	font-size: 14px;
	background: rgba(56, 146, 184, 0.463);
}

#wrapper {
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

header {
	border-radius: 25px;
	padding: 20px;
	background: rgb(18, 5, 196);
	margin: 0.5rem;
}

nav {
	color: yellow;
	font-weight: bold;
}

.navitem {
	margin: 0.5rem;
}

section {
	border-radius: 25px;
	padding: 20px;
	width: 625px;
	height: auto;
	float: left;
	background: rgba(56, 146, 184, 0.463);
	margin: 0.5rem;
}

aside {
	border-radius: 25px;
	padding: 20px;
	width: 225px;
	float: right;
	background: rgba(56, 146, 184, 0.463);
	margin: 0.5rem;
}

footer {
	border-radius: 25px;
	padding: 20px;
	width: 960px;
	height: auto;
	float: left;
	background: rgb(18, 5, 196);
	color: white;
	margin: 0.5rem;
}

a:link {
	color: rgb(235, 235, 48);
}

a:visited {
	color: rgb(230, 18, 230);
}

h1 {
	font-weight: bold;
	font-size: 26px;
	color: white;
}

h2 {
	font-weight: bold;
	font-size: 22px;
	color: white;
}

h3 {
	font-weight: normal;
	font-size: 18px;
	font-style: italic;
	color: white;
}

header > h1 {
	margin-bottom: 3px;
}

header > h2 {
	margin-top: 0px;
}

#homepageImage {
	float: left;
	border-style: none;
	border-radius: 25px;
	margin: 0.5rem;
	width: 960px;
}

iframe {
	margin: 0.5rem;
	border-radius: 25px;
}

#moveBoxLeft {
	-webkit-animation: slideLeft 2s forwards;
	-moz-animation: slideLeft 2s forwards;
	animation: slideLeft 2s forwards;
}

#moveBoxRight {
	-webkit-animation: slideRight 2s forwards;
	-moz-animation: slideRight 2s forwards;
	animation: slideRight 2s forwards;
}

@keyframes slideLeft {
	0% {
		transform: translateX(-1500px);
	}
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		transform: translateX(-1500px);
	}
	100% {
		transform: translateX(0);
	}
}

@-moz-keyframes slideLeft {
	0% {
		transform: translateX(-1500px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(1500px);
	}
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes slideRight {
	0% {
		transform: translateX(1500px);
	}
	100% {
		transform: translateX(0);
	}
}

@-moz-keyframes slideRight {
	0% {
		transform: translateX(1500px);
	}
	100% {
		transform: translateX(0);
	}
}
